VITE_APP_NAME="Cafe Restaurant Dalas"
VITE_RESTAURANT_NAME="Cafe Restaurant Dalas"
VITE_RESTAURANT_PHONE="+212 5XX-XX-XX-XX"
VITE_RESTAURANT_EMAIL="contact@dalascafe.ma"
VITE_RESTAURANT_ADDRESS="Rabat, Morocco"
VITE_RESTAURANT_MAPS_URL="https://maps.app.goo.gl/YQax7LXHHXBhnMiu5"
VITE_TAX_RATE=0.20
